<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de Navegación</title>
    <!-- Usamos Bootstrap solo para los estilos -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container my-4">
    <h1 class="mb-4">Bienvenido al Menú de Navegación</h1>

    <!-- Navbar sin JavaScript -->
    <nav>
      
        <div class="mb-3">
            <a href="/hospital" class="btn btn-info w-100 mb-3">Hospitales</a>
        </div>
        <div class="mb-3">
            <a href="/doctor" class="btn btn-secondary w-100 mb-3">Doctores</a>
        </div>
        <div class="mb-3">
            <a href="/paciente" class="btn btn-success w-100 mb-3">Pacientes</a>
        </div>
    </nav>
</div>

</body>
</html>
