<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú de Navegación</title>
    <!-- Usamos Bootstrap solo para los estilos -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- navbar.html -->
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Hospital PUCP</a>
        <div class="navbar-nav">
            <a class="nav-link active" href="/hospitales/lista">Hospitales</a>
            <a class="nav-link" href="/doctor">Doctores</a>
            <a class="nav-link" href="/paciente">Pacientes</a>
        </div>
    </nav>
</div>

</body>
</html>
