<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Doctores del Hospital</title>
</head>
<body>

<h2>Doctores del Hospital</h2>

<table border="1">
  <thead>
  <tr>
    <th>Nombre</th>
    <th>Especialidad</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="doctor : ${doctores}">
    <td th:text="${doctor.nombre}"></td>
    <td th:text="${doctor.especialidad}"></td>
  </tr>
  </tbody>
</table>

</body>
</html>
